@media (max-width: 1200px) {
    .p-5 {
        padding: 0rem!important;
        padding-left: 4.0rem!important;
    }

    .col-6 {
        width: 90%;
    }

}

@media (max-width: 992px) {
    .my-5 {
        margin-top: 1.5rem!important;
        margin-bottom: 2.0rem!important;
    }

    .nav-item {
        width: 110px;
    }
}

@media (max-width: 768px) {
    .nav-item {
        width: 90px;
    }
}

@media (max-width: 480px) {

}
